[submodule "Hazel/vendors/spdlog"]
	path = Hazel/vendors/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazel/vendors/glfw"]
	path = Hazel/vendors/glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "Hazel/vendors/imGui"]
	path = Hazel/vendors/imGui
	url = https://github.com/ocornut/imgui.git
