[submodule "Hazel/vendors/spdlog"]
	path = Hazel/vendors/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazel/vendors/glfw"]
	path = Hazel/vendors/glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "Hazel/vendors/imGui"]
	path = Hazel/vendors/imGui
	url = https://github.com/ocornut/imgui.git
[submodule "Hazel/vendors/glm"]
	path = Hazel/vendors/glm
	url = https://github.com/g-truc/glm.git
[submodule "Hazel/vendors/yaml-cpp"]
	path = Hazel/vendors/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp.git
[submodule "Hazel/vendors/ImGuizmo"]
	path = Hazel/vendors/ImGuizmo
	url = https://github.com/TheCherno/ImGuizmo.git
[submodule "Hazel/vendors/Box2D"]
	path = Hazel/vendors/Box2D
	url = https://github.com/TheCherno/box2d.git
[submodule "Hazel/vendors/googletest"]
	path = Hazel/vendors/googletest
	url = https://github.com/HoneyWellAvionicsDev/googletest.git
